@charset "utf-8";

@media all and (max-width:600px) { 

    .view{
        width:430px;
        height:800px;
       margin-left:-205px;
       margin-top:-400px;
       padding-top:0px;
       top:50%;
       left:50%;
    }

    .bigtitle{
        margin-left:10px;
        height:170px;
        width:100%;
        height:200px;
     }
     .bigtitle h1{
         font-size:50px;
         padding-top:30px;
     }
     .bigtitle p{
         margin-top:20px;
         font-size:13px;
         color:rgb(63, 63, 63);
     }
     .wrap{
        width:100%;
        height:70%;
    }
     .wrap:nth-child(1){
        width:380px;
        height:428px;
        top:0px;
        padding-top:50px;
    }

    h1{
        font-size:30px;
    }
    .title p{
        font-size:15px;
        margin-top:20px;
        font-weight:300;
    }

    .logos{
        width:100%;
        height:300px;
        padding-top:20px;
        margin-top:70px;
        border-top:none;
    }
    .logos li{
       margin-left:0px;
       border-top:1px solid #F1E3C4;
       width:100%;
       float:none;
       padding:20px 0px;
    }
    .logos li img{
       transform:scale(0.5);
    }
    .logos li:hover img{
        transform: scale(0.6);
    }
    .logos li:hover{
        background:#F1E3C4;
    }
    .logos li p{
        margin-top:5px;
        position:relative;
        font-weight:normal;
        transition:all 1s;
        color:#9B8D78;
    }

    .title h1{
        font-size:20px;
    }
    .title p{
        font-size:15px;
        margin-top:20px;
    }

    #period-box{
        margin-top:0px;
        height:120px;
        width:100%;
        margin-left:50%;
        transform:translate(-50%);
        position:relative;
        border-top:none;
    }
    #check-in{
        padding-bottom:10px;
        width:100%;
        text-align:center;
    }
    #checkin{
        width:200px;
        height:30px;
        font-size:15px;
        margin-left:0px;
    }
    .ci-box{
        width:200px;
        position:absolute;
        left:50%;
        margin-left:-100px;
        padding-left:0px;

    }
    #drawing{
        display:none;
    }
    .co-box{
        width:200px;
        height:90px;
        position:absolute;
        left:50%;
        margin-left:-100px;
        top:100px;
        padding-left:0px;
    }
    #checkout{
        width:200px;
        height:30px;
        font-size:15px;
        margin-right:10px;
    }
    #check-out{
        padding-bottom:10px;
        width:100%;
        text-align:center;
    }
    #period .pn{
        top:250px;
    }

    #row{
        margin-top:70px;
        position:relative;
        width:100%;
        height:100px;
        top:0;
    }
    .totalFn{
        margin-left:0%;
        transform:translate(0%);
        width:100%;  
        border-top:none;
        height:100px;
        padding-top:30px;
    }
    #counting{
        width:100px;
        float:left;
        margin-left:20px;
        margin-top:10px;
    }
    #counting:first-child{
        margin-top:-80px;
        margin-left:30px;
    }
    #counting h3{
        position:absolute;
        top:-50px;
    }
    .count-box{
        margin-top:10px;
        width:100px;
        display:block;
    }
    .count-box button{
        width:30px;
        height:30px;
        background-color:transparent;
        border:1px solid #9B8D78;
        color:#9B8D78;
        bottom:5px;
        position:relative;
        font-size:20px;
    }
    .search{
        text-decoration:none;
        color:#3E2C2C;
        width:120px;
        height:40px;
        display:block;
        line-height:2.5;
        border:2px solid #9B8D78;
        font-weight:bold;
        position:absolute;
        transition:all 1s;
       bottom:100px;
       left:50%;
       margin-left:-60px;
    }

    .info{
        left:200px;
        top:-20px;
        width:180px;
    }
    .info2{
        right:10px;
        top:-2px;
    }

}